*{
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: #441151ff;
    top: 0;
    left: 0;

}

ul{
    background-color:  #441151ff;
    list-style:none;
    width: 660px;
    margin: 0 auto;

}

ul li{
    width: 110px;
    height: 60px;
    float: left;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointerssss;
}

ul li.active{
    background: red;


}
ul li:hover{
    background-color: purple;
}


.footer{
	width: 100%;
	height: 60px;
	line-height: 60px;
	background: #242539;
	position: fixed;
	bottom: 0;
	left: 0;
}

.footer p{
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	color: #fff;
}


/* Media Queries */
@media screen and (max-width: 850px){
  .content{
    padding: 100px 150px;
  }
}

@media screen and (max-width: 650px){
  .content{
    padding: 100px 50px;
  }
}