* {
    margin: 2;
}

.main-section {
    background-color:  #d4f2dbff;
}

.container {
    height: max-content;
    width: max-content;
}
.banner {
    overflow-y: auto;
    width: 120vh;
    margin: 0;


}
.cnav {
    background-color:#441151ff;
    color: azure;
}

.cslideshow {
    border: 10px solid rgb(56, 3, 66);
}
.article-container {
    color: yellowgreen;
    background-color: beige;
}

.imap {
    background-color: aliceblue;
    position: relative;
    height: max-content;
    width: max-content;
    border: 10px solid rgb(74, 6, 90);
}

.video-block{
    height: max-content;
    width: max-content;
    border: 5px solid black;
    padding: 20px;
    
    background-color: black;
    border-bottom: 2%;
}

.hr{
    height: 5px;
    margin: 0;
}
a:link{
    text-decoration: none;
    color: inherit;
}
.footer {
    padding: 5%;
    background-color:#441151ff;
    color: wheat;
    font-family: 'Times New Roman', Times, serif;
}