
/* This Is A CSS File */
#des
{
	color: crimson;
	font-size: 0.7em;
	text-align: center;
}
span
{
	color: crimson;
}
h1
{
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2
{
	font-style: bold;
	color: burlywood;
}

body
{
	font-size:1.2em;
	line-height:1.4;
	font-family:Times,serif;
	color: darkblue;	
}
	
footer
{
	font-size:20px;
	text-align:right;
}
ul.nav 
{
	padding-left: 0px;
	background-color: #3D99CE;
	text-align: center;
}
ul.nav > li 
{
	display: inline-block;
	padding: 10px 20px;
}
ul.nav > li:hover 
{
	background-color: #2779BF;
}
ul.nav > li > a 
{
	color: white;
	text-decoration: none;
}
.imgdes
{
	font-size: 0.6em;
	padding-left: 85%;
	color: darkgreen;
}
.imgdes2
{	
	padding-left: 73%;
	font-size: 0.6em;
	color: darkgreen;
}
img
{
	word-wrap: normal;
}
a
{
	text-decoration: none;
	color: blue;
}
a:hover
{
        color: red;
}

