
/* CSS HEX
--russian-violet: #441151ff;
--violet-crayola: #883677ff;
--fuchsia-crayola: #ca61c3ff;
--persian-pink: #ee85b5ff;
--nyanza: #d4f2dbff; */
*{
    font-family: 'Times New Roman', Times, serif;
    
}
.color {
    color : #441151ff;
    color : #883677ff;
    color :  #ca61c3ff;
    color :  #ee85b5ff;
    color : #d4f2dbff; 

}
* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
.hr {
    margin: 0;
    border-top: 5px solid  whitesmoke;
}
.hrds {
    height: 5px;
    margin: 0;
    border-top: 5px dashed white;

}
body {
            background-color: #d4f2dbff;
        }
        .heading1 {
            align-items: center;
            text-align: center;
        }
        .para {
            text-align: center;
            align-items: center;
            color: brown;
            font-weight: bold;
        }

        .ulist {
            list-style-type: disc;
            padding-left: 30%;
        }
        .olist {
            list-style-type:upper-roman;
            padding-left: 30%;
        }
        a {
            text-decoration: none;

        }
        a:link {
            color : rgb(57, 5, 57);
            
        }
        a:hover {
            color:  red;
        }
        a:visited {
            color: rgb(57, 5, 57);
        }
    
        .imp {
            color: red;
        }
.imageslider {
border: solid 5px #883677ff;
height: 20%;
width: 100vw;
overflow: hidden;
opacity: 0.9;


}

.map {
    width: 50%;
    float: left;
}

.travel {
   font-size: 1.5em;
   text-align: center;
}

.cnav{
    height: 15em;
    display: flex;
    justify-content: center;
    background-color: #441151ff;
    color: white;
}

.description {
    background-color: rgb(182, 248, 232);
    margin: auto;
    text-align: center;
}


.textbox {
  position: absolute;
  top: 50%;
  right: 40%;
  left: 40%;
  background-color: antiquewhite;
  color :black;
  width:max-content;
  padding: 8px;
  text-align: center;
  font-size: 50px;
  opacity: 0.5;
}
iframe
{   
    
    border:0; 
    height: 40em; 
    width: 42em;
    margin-top: 10px;
}
img
{
    width: 42em;    
    height: 40em;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}
img.image-right {
    float: right;
    margin: 0.5em 0.5em 0.5em 1em;
}
.timings
{
    text-align: right;
}
.pricing
{
    float: right;
}
.qfacts
{
    margin-right: 10px;
}