
/* CSS HEX
--russian-violet: #441151ff;
--violet-crayola: #883677ff;
--fuchsia-crayola: #ca61c3ff;
--persian-pink: #ee85b5ff;
--nyanza: #d4f2dbff; */

.color {
    color : #441151ff;
    color : #883677ff;
    color :  #ca61c3ff;
    color :  #ee85b5ff;
    color : #d4f2dbff; 

}
* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
hr {
    color: black;
    margin: 0;
    padding: 0;
}
body {
            background-color: #d4f2dbff;
        }
        .heading1 {
            align-items: center;
            text-align: center;
        }
        .para {
            text-align: center;
            align-items: center;
            color: brown;
            font-weight: bold;
        }

        .ulist {
            list-style-type: disc;
            padding-left: 30%;
        }
        .olist {
            list-style-type:upper-roman;
            padding-left: 30%;
        }
        a {
            text-decoration: none;

        }
        a:link {
            color : rgb(57, 5, 57);
            
        }
        a:hover {
            color:  red;
        }
        a:visited {
            color: rgb(57, 5, 57);
        }
        .imp {
            color: red;
        }
.imageslider {
border: solid 5px #883677ff;
height: 50vh;
width: 100vw;
overflow: hidden;
}

.map {
    width: 50%;
    float: left;
}

.travel {
    float:right;
    position:relative;

}

